/* --- Estilo para las columnas de arriba --- */
.grid-header {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
}

#ctn-1 {
    background-color: #f4f5f7; /* Profe, ahí cambié ligeramente el color pa que se note un poco más, porque casi no se veía */
    padding: 20px;
}

#ctn-2 {
    background-color: #a5a5a5;
    padding: 20px;
}

.pintar > .row > div {
    background-color: #98cbff;
    border: 1px solid #000;
    padding: 10px;
}

.pintar > .no-paint > div {
    background-color: transparent !important;
    border: none !important;
}

@media (min-width: 576px) {
    p { color: red !important; }
}

@media (min-width: 768px) {
    p { color: blue !important; }
}

@media (min-width: 992px) {
    p { color: green !important; }
}

@media (min-width: 1200px) {
    p { color: purple !important; }
}

/* --- Animación del Título --- */
#title:hover {
    color: orange;
    animation: bounce 2s infinite;
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-10px); }
}

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

.black-text {
    color: black !important; /* Pa que no cambie de color el bendito texto */
}