body {
    padding: 45px;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
}

.main {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 

    background: rgba(255, 255, 255, 0.05);
    padding: 80px; /* ancho de la caja */
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    padding: 0;
    margin-top: 40px;
}

.item a {
    text-decoration: none;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid #f0f9fe;
    overflow: hidden;
}

.item:hover a::before {
    height: 100%;
}

.item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%; 
    background: var(--bg-color);
    transition: height 0.5s ease;
    z-index: 1;
}

.icon {
    font-size: 2rem;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
}

.item:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.item:nth-child(1) {
    --bg-color: #0077b5;
}

.item:nth-child(2) {
    --bg-color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(3) {
    --bg-color: #ff0000;
}

.item:nth-child(4) {
    --bg-color: #25d366;
}

button {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    border: 2px solid transparent;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
    
    /* truco para borde degradado */
    background-clip: padding-box;
    position: relative;
}

/* borde degradado */
button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 2px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);

    /* Webkit (Chrome, Edge, Safari) */
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;

    /* Estándar */
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

/* hover elegante */
button:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 0 15px rgba(0, 198, 255, 0.4);
}

/* efecto al hacer click */
button:active {
    transform: scale(0.95);
}

.botones {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}

h1, h5, p {
    margin: 0;
}

footer {
    text-align: left;
    padding: 20px;
}

.lab {
    margin-bottom: 40px;
}

.seleccion {
    margin-bottom: 30px;
}