body{
      background-color: rgba(158, 189, 224, 0.623);
    } 

    .form-group label {
      padding-bottom: 10px;
    }

    .form-group label {
      display: block;
      margin-left: 5px;
      font-weight: bold;
    }

    .form-input {
      width: 100%;
      padding: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .submit-button {
      padding: 10px 50px;
      border-radius: 15px;
      transition: background-color 0.3s ease;
    }

    .submit-button:hover {
      background-color: #2563eb;
      /* cambio de color al pasar el mouse */
    }

    .title {
      font-family: 'Arial', sans-serif; 
      color: #333;
      text-align: center;
      margin: 0;
    }

    #main-title {
        /*Unidad de medida relativa en CSS que depende del 
        tamaño de letra del elemento padre.
        Ej: 1em = 16px, 2em = 32px*/
      font-size: 2.5em;
      margin-top: 1em;
      margin-bottom: 0.2em;
    }

    .nav-list {
      list-style-type: none;
      padding: 0;
      display: flex; /*para alinear horizontalmente los elementos del menú*/
      justify-content: center;
    }

    .menu-item {
      margin: 0 15px;
      background-color: #2563eb;
      padding: 10px 20px;
      border-radius: 5px;
    }

    .menu-item a {
      color: white;
      text-decoration: none;
    }

    #video-section {
      margin: 20px 0;
      justify-content: center;
      display: flex;
    }

    #video-section iframe {
      max-width: 100%;
      width: 600px;
      height: auto;
      border-radius: 20px;
      border: 5px solid #91bdf7;
    }

    footer, header {
      background-color: #f8f9fa;
      padding: 10px;
      text-align: center;
      margin-top: 10px;
    }